# example of file for storing private and user specific environment variables, like keys or system paths
# rename it to ".env" (excluded from version control by default)
# .env is loaded by train.py and eval.py automatically

AZURE_OPENAI_DEPLOYMENT="deployment"
AZURE_OPENAI_ENDPOINT="https://link-to-endpoint.azure.com/"
AZURE_OPENAI_KEY="1234567890"
HF_HOME=".cache/huggingface"
KAGGLE_USERNAME="example"
KAGGLE_KEY="1234567890"
OPENAI_API_KEY="sk-1234567890"
OPENAI_ORGANIZATION="org-1234567890"
TOKENIZERS_PARALLELISM="true"
WANDB_API_KEY="1234567890"
WANDB_ENTITY_NAME=""
WANDB_PROJECT_NAME="apex"
